* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.calculator {
    background-color: rgba(0, 121, 145, 1);
    padding: 20px;
    border-radius: 30px;
}
#backImage{
    background-image: url(./imagesPortfolio/r&m.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.calculator form input {
    width: 60px;
    height: 60px;
    background-color: rgba(67, 154, 134, 1);
    border: 0px;
    margin: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 29px;
    box-shadow: -8px -8px 15px gray, 8px 8px 15px gray;
    outline: 0px;
}

#textbox {
    background-image: url(./imagesPortfolio/backCal2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: right;
    height: 60px;
    outline: none;
    border: 0px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    width: 95%;
}

.equal {
    width: 140px !important;
}