@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,300&display=swap');

@media (min-width:320px) and (max-width:1000px) {

.mediumSreen #allBugs{
   
}



}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    border: 0pxs;
    background-color: rgb(78, 141, 154);
    text-align: center;
    cursor: url('imagesPortfolio/spray.cur'), auto;
}

#logo {
    display: block;
    width: 68.4px;
    height: 60px;
    position: relative;
    top: -25px;
    left: 10px;
    cursor: pointer;
}

#topHeader{
    margin-bottom: -25px;
}
#countBugs{
    font-size: 40px;
    color: #b13f44;
}
button{
    cursor: url('imagesPortfolio/spray.cur'), auto;
}
#allBugs{
    box-sizing: border-box;
    display: block;
    margin-bottom: 51vh;

}
#checkBtn{
    display: flex;
    
}

@keyframes lgmotion {
    100%{
    transform: rotate(360deg);
   
}
    0.5% {
    transform: rotate3d(12deg,60deg,55deg);

}
}




/* ------   bug1  ----- */
@keyframes move1  {
    0%      {left:10vw; top:5vh;}
    25%     {left:20vh; top:10vh;}
    50%     {left:30vw; top:15vh}
    75%     {left:40vh; top:25vh;}
    100%    {left:20vw; top:20vh;}
  }
#btn1Move{
    position: relative;
    animation-name: move1;
    animation-iteration-count: 1;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn1{
    animation-name: lgmotion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: rgba(0, 121, 145, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}


/* --------bug 2  --------  */

@keyframes move2  {
    0%      {left:-5vw; top:5vh;}
    25%     {left:10vh; top:12vh;}
    50%     {left:70vw; top:2vh}
    75%     {left:20vh; top:25vh;}
    100%    {left:10vw; top:20vh;}
  }

#btn2Move{
    position: relative;
    animation-name: move2;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn2{animation-name: lgmotion;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-color: rgba(183, 192, 238, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/*  ------  bug 3 ---------- */

@keyframes move3  {
    0%      {left:15vw; top:15vh;}
    25%     {left:20vh; top:12vh;}
    50%     {left:30vw; top:21vh}
    75%     {left:40vh; top:25vh;}
    100%    {left:52vw; top:20vh;}
  }

#btn3Move{
    position: relative;
    animation-name: move3;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn3{animation-name: lgmotion;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-color: rgba(67, 154, 134, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
/* ------------  bug 4 --------- */
@keyframes move4  {
    0%      {left:15vw; top:15vh;}
    25%     {left:20vh; top:12vh;}
    50%     {left:30vw; top:1vh}
    75%     {left:40vh; top:5vh;}
    100%    {left:52vw; top:10vh;}
  }

#btn4Move{
    position: relative;
    animation-name: move4;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}

#btn4{animation-name: lgmotion;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    background-color: rgba(0, 121, 145, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 5 --------- */
@keyframes move5  {
    0%      {left:0vw; top:0vh;}
    25%     {left:21vh; top:30vh;}
    50%     {left:75vw; top:-10vh}
    75%     {left:46vh; top:40vh;}
    100%    {left:50vw; top:45vh;}
  }

#btn5Move{
    position: relative;
    animation-name: move5;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 0.1s ease-in-out;
    
}

#btn5{animation-name: lgmotion;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    background-color: rgba(183, 192, 238, 1);;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
/* ------------  bug 6 --------- */
@keyframes move6  {
    0%      {left:-15vw; top:-5vh;}
    25%     {left:-20vh; top:1vh;}
    50%     {left:-10vw; top:15vh}
    75%     {left:0vh; top:20vh;}
    100%    {left:-2vw; top:0vh;}
  }

#btn6Move{
    position: relative;
    animation-name: move6;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn6{animation-name: lgmotion;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    background-color: rgba(67, 154, 134, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 7 --------- */
@keyframes move7  {
    0%      {left:15vw; top:0vh;}
    25%     {left:20vh; top:5vh;}
    50%     {left:30vw; top:11vh}
    75%     {left:40vh; top:15vh;}
    100%    {left:52vw; top:-2vh;}
  }

#btn7Move{
    position: relative;
    animation-name: move7;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn7{animation-name: lgmotion;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-color: rgba(0, 121, 145, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 8 --------- */
@keyframes move8  {
    0%      {left:5vw; top:35vh;}
    25%     {left:2vh; top:12vh;}
    50%     {left:30vw; top:21vh}
    75%     {left:4vh; top:25vh;}
    100%    {left:2vw; top:20vh;}
  }
#btn8Move{
    position: relative;
    animation-name: move8;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn8{animation-name: lgmotion;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    background-color: rgba(67, 154, 134, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 9 --------- */
@keyframes move9  {
    0%      {left:15vw; top:15vh;}
    25%     {left:20vh; top:12vh;}
    50%     {left:-30vw; top:21vh}
    75%     {left:40vh; top:-5vh;}
    100%    {left:52vw; top:-1vh;}
  }

#btn9Move{
    position: relative;
    animation-name: move9;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn9{animation-name: lgmotion;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-color: rgba(0, 121, 145, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 10 --------- */
@keyframes move10  {
    0%      {left:-15vw; top:15vh;}
    25%     {left:0vh; top:12vh;}
    50%     {left:-20vw; top:-1vh}
    75%     {left:0vh; top:15vh;}
    100%    {left:2vw; top:2vh;}
  }

#btn10Move{
    position: relative;
    animation-name: move10;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn10{animation-name: lgmotion;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    background-color: rgba(67, 154, 134, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 11 --------- */
@keyframes move11  {
    0%      {left:5vw; top:1vh;}
    25%     {left:-10vh; top:21vh;}
    50%     {left:3vw; top:-1vh}
    75%     {left:12vh; top:25vh;}
    100%    {left:2vw; top:12vh;}
  }

#btn11Move{
    position: relative;
    animation-name: move11;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn11{animation-name: lgmotion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: rgba(183, 192, 238, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 12 --------- */
@keyframes move12  {
    0%      {left:15vw; top:15vh;}
    25%     {left:0vh; top:2vh;}
    50%     {left:-10vw; top:21vh}
    75%     {left:40vh; top:-5vh;}
    100%    {left:-2vw; top:0vh;}
  }

#btn12Move{
    position: relative;
    animation-name: move12;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transition: 1s ease-in-out;
    
}
#btn12{animation-name: lgmotion;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    background-color: rgba(67, 154, 134, 1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* ------------  bug 13  the lady bug !!!!! --------- */
@keyframes move13  {
    0%      {left:-15vw; top:15vh;}
    10%     {left:-10vw; top:-15vh;}
    25%     {left:0vh; top:2vh;}
    30%     {left:10vw; top:21vh}
    45%     {left:30vh; top:-5vh;}
    55%     {left:-2vw; top:20vh;}
    75%     {left:20vh; top:-2vh;}
    85%     {left:-10vw; top:21vh}
    95%     {left:40vh; top:-5vh;}
    100%    {left:-2vw; top:10vh;}
  }

#btn13Move{
    position: relative;
    animation-name: move13;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition: 1s ease-in-out;
    
}
#btn13{

    animation-name: lgmotion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: #b13f44 ;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* --------------------Footer!!--------------- */
#bottomBar{
    width: 100%;
    position: fixed;
    bottom: 1vh;

}
#cname {
    width: 220px;
    left:10px;
}

#footerLogos {
    float: right;
    width: 120px;
}

h6{
    margin-bottom: -24px;
}

#logoGithub {
    width: 24px;
    height: 24px;
}

#logoLinkedIn {
    width: 24px;
    height: 24px;
}