/* 
$space-cadet: rgba(34, 46, 80, 1);
$cerulean: rgba(0, 121, 145, 1);
$zomp: rgba(67, 154, 134, 1); 
$Periwinkle rgba(183, 192, 238, 1);
*/

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,300&display=swap');

/*  ------------------------ Responsive --------------------------    */

@media (max-width:1200px) and (min-width:359px)  {
   
    .smallScreen ul {
        margin-bottom: 10px;
        display: block;
    }
    #welcome{
       display: inline;
    }
    
    #about{
        display: inline;
        width: 1%;
        height: 2%;
    }
    #projects{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    #developmentSkills img{
        display: inline;
        width: 50px;
    }
    .picMQ{
        top: 375px;   
        max-width: 90px;
        max-height: 90px;
        display: block;
        margin-left: 30px;

    }

   
    #toggle{
        position: relative;
        left: 50vw;
    
    }
    
}


/*    ----------------------  HTML BODY !! -----------------*/

html,body{
    overflow-x: clip;
}

body {
    box-sizing: border-box;
    margin: 0%;
    border: 0%;
    font-size: 21px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgba(67, 154, 134, 1);
    color: rgba(34, 46, 80, 1);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

/* ----------------------------- Header !!!!! ------------------ */

header {
    z-index: 5;
    position: sticky;
    top: 1px;
    transition: background-color 1s ease-in-out ;    
}
header.scrolled{
    background-color: rgba(34, 46, 80, 1);
    box-shadow: 0 0 21px 2px rgb(169, 195, 246);
    opacity: 0.85;
}

header nav a { 
    transition: color 1s ease-in-out;
}
header.scrolled nav a { 
    color:  rgb(169, 195, 246);
}
.dark header.scrolled { 
    background-color: rgba(67, 154, 134, 1);
    opacity: 0.65;
}


#logo {
    display: block;
    width: 68.4px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -2vw;
    left: 28vw;
    font-size: 18px;
    list-style-type: none;
    width: 40vw;

}
.noDeco{
    text-decoration: none;
}
/* ------------------  Toggle button!!! ------------------ */
#toggle {
    position: absolute;
    height: 35px;
    width: 70px;
    top: 2.5vh;
    right: 20vw;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    cursor: pointer;
}

#toggle::before {
    position: absolute;
    background-color: rgb(241, 241, 241);
    content: "";
    height: 30px;
    width: 30px;
    top: -52px;
    border-radius: 100%;
    transform: translateY(180%);
    transition: all 0.5s ease-in-out;
}

#toggle.active::before {
    left: calc(185% - 120px - 3%);
    background-color: rgba(0, 121, 145, 1);

}

body.dark {
    background-color: rgba(34, 46, 80, 1);
    color: rgba(67, 154, 134, 1);
}

#bug {
    display: block;
    position: absolute;
    top: 2px;
    right: 34px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

#bugOutline {
    display: block;
    position: absolute;
    top: 2px;
    right: 6px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

#toggleEvent {
    display: block;
}

/* -------------- welcome box----------------- */

#welcome {
    display: inline;
    margin-left: 445px;
    margin-right: 445px;
    margin-top: 8%;
    margin-bottom: 1%;
    padding: 10px;
    border-radius: 25px;
}

/* ----------------Typewriter effect -------------  */
@keyframes typing {

    0%,
    3% {
        content: "";
    }

    3.1%,
    6% {
        content: "H ";
    }

    6.1%,
    9% {
        content: "He ";
    }

    9.1%,
    12% {
        content: "Hel ";
    }

    12.1%,
    15% {
        content: "Hell ";
    }

    15.1%,
    18% {
        content: "Hello ";
    }

    18.1%,
    21% {
        content: "Hello W ";
    }

    21.1%,
    24% {
        content: "Hello Wo ";
    }

    24.1%,
    27% {
        content: "Hello Wor ";
    }

    27.1%,
    30% {
        content: "Hello Worl ";
    }

    30.1%,
    33% {
        content: "Hello World! ";
    }

    33.1%,
    36% {
        content: "Hello World! I ";
    }

    36.1%,
    39% {
        content: "Hello World! I a ";
    }

    39.1%,
    41% {
        content: "Hello World! I am ";
    }

    41.1%,
    44% {
        content: "Hello World! I am K ";
    }

    44.1%,
    47% {
        content: "Hello World! I am Ko ";
    }

    47.1%,
    50% {
        content: "Hello World! I am Kos ";
    }

    50.1%,
    53% {
        content: "Hello World! I am Kos ";
    }

    53.1%,
    56% {
        content: "Hello World! I am Kos ";
    }

    56.1%,
    59% {
        content: "Hello World! I am Kos ";
    }

    59.1%,
    62% {
        content: "Hello World! I am Kos ";
    }

    62.1%,
    65% {
        content: "Hello World! I am Ko ";
    }

    65.1%,
    68% {
        content: "Hello World! I am K ";
    }

    68.1%,
    71% {
        content: "Hello World! I am  ";
    }

    71.1%,
    74% {
        content: "Hello World! I  ";
    }

    74.1%,
    77% {
        content: "Hello World!  ";
    }

    77.1%,
    80% {
        content: "Hello World  ";
    }

    80.1%,
    83% {
        content: "Hello Worl ";
    }

    83.1%,
    86% {
        content: "Hello Wor ";
    }

    86.1%,
    89% {
        content: "Hello Wo ";
    }

    89.1%,
    91% {
        content: "Hello W ";
    }

    91.1%,
    93% {
        content: "Hello ";
    }

    93.1%,
    96% {
        content: "Hel  ";
    }

    96.1%,
    100% {
        content: "  ";
    }

}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#typewriter { 
    margin-bottom: -35px;
    color: rgb(7, 80, 95);
    --caret: currentcolor;
}

#typewriter::before {
    content: "";
    animation: typing 10s forwards infinite;
}

#typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 1s infinite;
}

/* --------------------About Me box-------------------- */
#about {   
    display:inline; 
    margin-left: 345px;
    margin-right: 345px;
    margin-bottom: -10px;

}
#profPic{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
#aboutTxt{
    margin-top: 3%;}

#aboutMeTxt{
    margin-bottom: 3%;
}

/* ------------ Skills -------------------*/
#allSkills {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#developmentSkills {
    display: flex;
    margin-top: 24px;
    margin-bottom: 75px;
}

#logoHTML {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

#textHTML p {
    display: none;
}

#textHTML:hover p {
    display: block;
    margin-bottom: -50px;
}

#logoCSS {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

#textCSS p {
    display: none;
}

#textCSS:hover p {
    display: block;
    margin-bottom: -50px;
}

#logoJS {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

#textJS p {
    display: none;
}

#textJS:hover p {
    display: block;
    margin-bottom: -50px;
}

#logoDataBase {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

#textDataBase p {
    display: none;
}

#textDataBase:hover p {
    display: block;
    margin-bottom: -50px;
}

#logoPython {
    width: 100px;
    height: 100px;
}

#textPython p {
    display: none;
}

#textPython:hover p {
    display: block;
    margin-bottom: -50px;
}



#otherSkills {
    margin-top: 4px;
    display: flex;
    margin-bottom: 75px;
}

#logoAbleton {
    width: 90px;
    height: 90px;
    margin-right: 23px;
}

#textAbleton p {
    display: none;
}

#textAbleton:hover p {
    display: block;
    margin-bottom: -50px;
}

#logoKrita {
    width: 90px;
    height: 90px;
    margin-right: 23px;
}

#textKrita p {
    display: none;
}

#textKrita:hover p {
    display: block;
    margin-bottom: -50px;
}

#logoGit {
    width: 90px;
    height: 90px;
}

#textGit p {
    display: none;
}

#textGit:hover p {
    display: block;
    margin-bottom: -50px;
}

/* ------------------------------- Projects ----------------- */
#projects {
    margin-bottom: 175px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#ProjCalc{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
#ProjWeb{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
#ProjDebug{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
#pyProject{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
/* -------------- CV -------------------- */

#myCV:link {
    text-decoration: none;
    color: rgba(34, 46, 80, 1); 
}

#buttonCV{
    width: 200px;
    height: 60px;
    background-color: rgba(0, 121, 145, 1);
    font-size: 18px;
    border-radius: 5%;  
}

/* --------------------Footer!!--------------- */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: -16vh;
}

#logoGithub {
    width: 24px;
    height: 24px;
}

#logoGithub #toggle{
    background-color: antiquewhite;
}

#logoLinkedIn {
    width: 24px;
    height: 24px;
}