@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,300&display=swap');

@media (max-width:320px) and (min-width: 370px)  {

}
* {
    box-sizing: border-box;
    background-color: rgb(242, 205, 96);
    color: rgb(255, 82, 27);
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
#articleList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.libraryimages {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 2px 2px rgb(15, 163, 177);
    margin-bottom: 35px;
    margin-top: 8px;
}

#submitButton {
    border-radius: 100%;
    width: 80px;
    height: 40px;
    font-size: 16px;
    margin-left: 1;
}

#searchBox {
    width: 180px;
    height: 30px;
}

.searchTitle {
    margin: 40px;
    margin-top: 1px;
    max-width: 170px;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#box{
    margin-bottom: 2%;
}
/* board games hover styling */
#ddsi {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    padding: 2px 6px;
}

#si:hover #ddsi {
    display: block;
}

#ddctn {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#ctn:hover #ddctn {
    display: block;
}

#ddskull {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#skull:hover #ddskull {
    display: block;
}

#ddmnpl {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#mnpl:hover #ddmnpl {
    display: block;
}

#ddrr {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#rr:hover #ddrr {
    display: block;
}

#dduno {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#uno:hover #dduno {
    display: block;
}

#ddsagra {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#sagra:hover #ddsagra {
    display: block;
}

#ddts {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#ts:hover #ddts {
    display: block;
}

#ddhq {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#hq:hover #ddhq {
    display: block;
}

#ddcld {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#cld:hover #ddcld {
    display: block;
}

#ddscr {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#scr:hover #ddscr {
    display: block;
}

#ddek {
    display: none;
    position: relative;
    color: black;
    background-color: rgb(255, 82, 27);
    min-width: 160px;
    padding: 2px 6px;
}

#ek:hover #ddek {
    display: block;
}