@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,300&display=swap');

@media (max-width:320px) and (min-width: 370px)  {

}
* {
    box-sizing: border-box;
    background-color: rgb(242, 205, 96);
    color: rgb(255, 82, 27);
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ---------------- search box and button --------------- */
#box{
    margin-bottom: 2%;
}

#submitButton {
    border-radius: 100%;
    width: 80px;
    height: 40px;
    font-size: 16px;
    margin-left: 1;
    border: none;
    cursor:  pointer;
    color: rgb(13, 50, 159);
    background-color: rgb(254, 119, 77) ;
}

#searchBox {
    width: 180px;
    height: 30px;
}

/* ------------------ display & hover properties ------------------------- */

#articleList{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px; /* Adjust the max-width as needed */
    justify-content: space-between;
    margin: 0 auto; 
}
#articleList article{
    flex-basis: calc(34% - 50px); /* Adjust spacing as needed */
    margin-bottom: 10px; /* Adjust spacing as needed */
    max-width: 100%;
}

.libraryimages {
    width: 150px;
    height: 150px;
    box-shadow: 1px 0px 2px 2px rgb(13, 50, 159);
    max-width: 100%;

}

.searchTitle {
    margin: 40px;
    margin-top: 1px;
    max-width: 170px;
    margin: -1vh;
}

.dropDownText{
    opacity: 0;
    position: relative;
    color: rgb(6, 45, 164);;
    width: auto;
    padding: 2px 2px;
}

.topText{
    margin: 5vh;
    margin-bottom: 2vh;
}
.searchTitle:hover .dropDownText{
    opacity: 1;

}